html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 20px; 
  /* Google fonts 输出的 CSS */
  font-family: 'Ma Shan Zheng', cursive;
  background-color: #ddeeee;
}

body {
  width: 50%;
  margin: 0 auto;
  background-color: #FFeecc;
  padding: 0 20px 20px 20px;
  border: 1px solid gray;
}

h1 {
	font-size: 60px;
	margin: 0;
	padding: 20px 0; 
	color: #00539F;
	text-shadow: 2px 2px 2px gray;
	
	
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
	font-size:20px;
	line-height: 1;/* 行高 */
	letter-spacing: 5px;/* 字间距 */
}